BASE_URL="https://api.themoviedb.org/3"
IMG_URL="https://image.tmdb.org/t/p/w500"
KEY_API="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlY2M0ZWMzZTg4NjNmNmE2NmMwMjBhY2JlOTk0YWYyNSIsInN1YiI6IjY1MjI5ZWViNzQ1MDdkMDExYzEyNGRmNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.2hpKB-R19jJSm8kvGyhAzO_qY_9Phb9uFViv8upSPhg"